# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query_1 = {"scores.Hygiene": {"$eq": 20}}
fields_1 = {"_id": 0, "BusinessName": 1, "scores.Hygiene": 1}

# Use count_documents to display the number of documents in the result
result_count_1 = establishments.count_documents(query_1)
print(result_count_1)

# Display the first document in the results using pprint
result_doc_1 = establishments.find_one(query_1)
pprint(result_doc_1)

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66994453560b4974f63b8956'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame
result_1 = establishments.find(query_1, fields_1)
df_1 = pd.DataFrame(result_1)

# Display the number of rows in the DataFrame
print(len(df_1))

# Display the first 10 rows of the DataFrame
print(df_1.head(10))

41
                BusinessName           scores
0        The Chase Rest Home  {'Hygiene': 20}
1                 Brenalwood  {'Hygiene': 20}
2              Melrose Hotel  {'Hygiene': 20}
3              Seaford Pizza  {'Hygiene': 20}
4              Golden Palace  {'Hygiene': 20}
5           Ashby's Butchers  {'Hygiene': 20}
6  South Sea Express Cuisine  {'Hygiene': 20}
7              Golden Palace  {'Hygiene': 20}
8             The Tulip Tree  {'Hygiene': 20}
9                      F & S  {'Hygiene': 20}

In [8]:
result_1 = establishments.find(query_1, fields_1)
print(list(result_1))

[{'BusinessName': 'The Chase Rest Home', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Brenalwood', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Melrose Hotel', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Seaford Pizza', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Golden Palace', 'scores': {'Hygiene': 20}}, {'BusinessName': "Ashby's Butchers", 'scores': {'Hygiene': 20}}, {'BusinessName': 'South Sea Express Cuisine', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Golden Palace', 'scores': {'Hygiene': 20}}, {'BusinessName': 'The Tulip Tree', 'scores': {'Hygiene': 20}}, {'BusinessName': 'F & S', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Longhouse', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Westview Playgroup Based At Downsview Comm Primary', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Whatever The Weather Coffee', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Kings Restaurant (Oriental)', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Xich Lo', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Asian Supermarket Ltd: T/A Best Food Wine Ltd', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Londis', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Costcutter', 'scores': {'Hygiene': 20}}, {'BusinessName': 'La Simon Ltd', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Caribiscus Ltd', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Kennedy Fried Chicken', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Gah Shing', 'scores': {'Hygiene': 20}}, {'BusinessName': 'A1 News & Wine', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Cakes & Bakes', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Sahajanand Catering Limited', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Sisko Cafe', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Magazin Romanesc Diana', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Bali Maamalas', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Angels Bakery', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Nikkis Place Restaurant', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Chicago 30', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Samui Thai Restaurant', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Pakhtoonkhwa Restaurant', 'scores': {'Hygiene': 20}}, {'BusinessName': 'New Happy Garden', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Mummy Yum', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Gospodina', 'scores': {'Hygiene': 20}}, {'BusinessName': "Leo's Bar & Grill", 'scores': {'Hygiene': 20}}, {'BusinessName': 'Royal Ribs', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Great Hallingbury Manor Hotel', 'scores': {'Hygiene': 20}}, {'BusinessName': 'The Dog And Duck', 'scores': {'Hygiene': 20}}, {'BusinessName': 'Oriental Cottage', 'scores': {'Hygiene': 20}}]

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [9]:
# Find the establishments with City of London Corporation as the Local Authority and has a RatingValue greater than or equal to 4.
query_2 = {"$and":[{"LocalAuthorityName": "City of London Corporation"}, {"RatingValue": {"$gte": 4}}]}
fields_2 = {"_id": 0, "BusinessName": 1, "LocalAuthorityName": 1, "RatingValue": 1}

# Use count_documents to display the number of documents in the result
result_count_2 = establishments.count_documents(query_2)
print(result_count_2)

# Display the first document in the results using pprint
result_doc_2 = establishments.find_one(query_2)
pprint(result_doc_2)

33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('66994454560b4974f63ba371'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [10]:
# Convert the result to a Pandas DataFrame
result_2 = establishments.find(query_2, fields_2)
df_2 = pd.DataFrame(result_2)

# Display the number of rows in the DataFrame
print(len(df_2))

# Display the first 10 rows of the DataFrame
print(df_2.head(10))

33
                           BusinessName  RatingValue  \
0                             Charlie's            4
1               Mv City Cruises Erasmus            5
2             Benfleet Motor Yacht Club            4
3  Coombs Catering t/a The Lock and Key            5
4              Tilbury Seafarers Centre            5
5                            Mv Valulla            5
6                         Tereza Joanne            5
7                      Brick Lane Brews            4
8         The Nuance Group (UK) Limited            5
9                              WH Smith            5

           LocalAuthorityName
0  City of London Corporation
1  City of London Corporation
2  City of London Corporation
3  City of London Corporation
4  City of London Corporation
5  City of London Corporation
6  City of London Corporation
7  City of London Corporation
8  City of London Corporation
9  City of London Corporation

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [11]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = .01
latitude = 51.490142
longitude = 0.08384

query = {
    "RatingValue": 5,
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
}

sort = [("Hygiene", 1)]  # Sort by lowest hygiene score
limit = 5  # Get the top 5 establishments

# Print the results
results_3 = establishments.find(query).sort(sort).limit(limit)

In [12]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(results_3)
df

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,66994457560b4974f63be1b5,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.09208, 'latitude': 51.4873437}",,4646.965635,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
1,66994457560b4974f63be1cd,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0859939977526665, 'latitude': ...",,4646.974010,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
2,66994457560b4974f63be188,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.0924199968576431, 'latitude': ...",,4646.946071,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
3,66994457560b4974f63be161,1069652,0,PI/000206841,TIWA N TIWA African Restaurant Ltd,Restaurant/Cafe/Canteen,1,152 Plumstead High Street,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 5, 'Structural': 5, 'ConfidenceInM...",FHRS,"{'longitude': 0.0927429, 'latitude': 51.4870351}",,4646.930146,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."
4,66994457560b4974f63be198,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,http://www.royalgreenwich.gov.uk,health@royalgreenwich.gov.uk,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM...",FHRS,"{'longitude': 0.0925370007753372, 'latitude': ...",,4646.955931,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f..."

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [16]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
match_query = {'$match': {"scores.Hygiene": 0}}

group_query = {'$group': 
               {"_id": "$LocalAuthorityName",
                'count': {'$sum': 1},
                }}

sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

pipe_results = establishments.aggregate(pipeline)

# Print the number of documents in the result
result_list = list(pipe_results)
result_count = len(result_list)
print("Number of documents in result:", result_count)

# Print the first 10 results
pprint(list(result_list)[:10])

Number of documents in result: 55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [15]:
results = establishments.aggregate(pipeline)

# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(df.shape)

# Display the first 10 rows of the DataFrame
df.head(10)

(55, 2)

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542